.gridContainer {
  align-self: center;
  background-color: bisque;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 60%;

  h1 {
    align-self: center;
    color: #f38c29;
  }

  .gridInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .grid {
      display: grid;
      grid-template: auto;
    }  

    .info {
      display: block;
      height: 100%;
      width: 50%;      
      flex-direction: column;
      justify-content: center;

      font-size: 1.1vw;

      a {
        text-decoration: underline;
        font-size: 1.2vw;
      }
    }
  }
}