.card {
  align-self: center;
  background-color: #047455;
  border-radius: 1rem;
  width: 17rem;
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem;
  padding: 1rem;

  .mainInformation {
    .image {
      align-self: center;
      border-radius: 1rem;
      margin: .25rem;
      padding: .25rem;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: .25rem;
      padding: .25rem;
  
      h3 {
        margin: 0;
        background: linear-gradient(45deg, #f7b56f, #f27f59);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
  
      p {
        margin: 0;
        background: linear-gradient(45deg, #f7b56f, #f27f59);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    .description {
      margin: .25rem;
      padding: .25rem;
  
      p {
        margin: 0;
        background: linear-gradient(45deg, #f7b56f, #f27f59);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f38c2b;;
    height: 3rem;
    margin: .25rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
}

